<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>张家港光伏k科技有限公司</title>
<link rel="stylesheet" href="{CSS_PATH}G/global.css" />
<link rel="stylesheet" href="{CSS_PATH}G/nei.css" /> 
<script type="text/javascript" src="{JS_PATH}G/jquery.min.js"></script>
</head>

<body>
<!--顶部开始-->
<div class="top">
    <div class="topMain">
        <span>欢迎来到张家港光伏科技有限公司官方网站</span>
        <p>联系电话：18651368540</p>
    </div>
</div>
<!--顶部结束-->

<!--banner开始-->
<script type="text/javascript" src="{JS_PATH}G/jquery.kinMaxShow-1.1.src.js"></script>
<script type="text/javascript">
$(function(){
    $("#kinMaxShow").kinMaxShow({
    	height: 600
    });
});
</script>